<div class="container" style="width: 540px;">
  <form class="form-signin" action="/admin/signin" method="POST" style="width: 100%;">
    <div class="text-center mb-4 mt-4">
      <h1 class="h3 mb-3 font-weight-normal" style="font-size:25px">後台登入</h1>
    </div>
    <div class="form-label-group">
      <input type="text" name="email" class="form-control" placeholder="email" required autofocus>
    </div>
    <div class="form-label-group mt-4">
      <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <br />
    <button class="btn btn-lg btn-success btn-block" type="submit">登入</button>
    <div class="text-center mt-4 mb-4 d-flex d-flex justify-content-end">
      <p><a href="/signin">前台登入</a></p>
    </div>
    <p class="mt-5 mb-3 text-muted text-center">© made by Go Shopping</p>
  </form>
</div>