<div class="container">
  <form class="form-signin" action="/admin/signin" method="POST" style="width: 100%;">
    <div class="AC-icon d-flex justify-content-center mt-2">
      <div>
        <img src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89-300x300.png"
          style="width:50px">
      </div>
    </div>
    <div class="text-center mb-4 mt-4">
      <h1 class="h3 mb-3 font-weight-normal" style="font-size:25px">後台登入</h1>
    </div>
    <div class="form-label-group">
      <input type="text" name="email" class="form-control" placeholder="Email" required autofocus>
    </div>
    <div class="form-label-group mt-4">
      <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <br />
    <button class="btn btn-lg btn-warning btn-block" style="background-color: #fd7e14; border-radius: 35px"
      type="submit">登入</button>
    <div class="text-center mt-4 mb-4 d-flex d-flex justify-content-end">
      <p><a href="/signin">前台登入</a></p>
    </div>
    <p class="mt-5 mb-3 text-muted text-center">© made by AJAS</p>
  </form>
</div>