<div class="container">
  <form class="form-signup" action="/signup" method="POST" style="width: 100%">
    <div class="AC-icon d-flex justify-content-center mt-2">
      <div>
        <img src="https://meethub.bnext.com.tw/wp-content/uploads/2019/03/medium_alpha-logo-square-89-300x300.png"
          style="width:50px">
      </div>
    </div>
    <div class="text-center mb-4 mt-4">
      <h1 class="h3 mb-3 font-weight-normal" style="font-size:25px">建立你的帳號</h1>
    </div>
    <div class="form-group">
      <label for=></label>
      <input type="text" id="account" name="account" class="form-control" placeholder="帳號" required autofocus>
    </div>
    <div class="form-group">
      <label for=></label>
      <input type="text" id="name" name="name" class="form-control" placeholder="名稱" required autofocus>
    </div>
    <div class="form-group">
      <label for="email"></label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" required autofocus>
    </div>
    <div class="form-group">
      <label for="password"></label>
      <input type="password" id="password" name="password" class="form-control" placeholder="密碼" required>
    </div>
    <div class="form-group">
      <label for="confirmPassword"></label>
      <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="密碼確認"
        required>
    </div>
    <button class="btn btn-lg btn-warning btn-block " style="background-color: #fd7e14; border-radius: 35px"
      type="submit">註冊</button>
    <div class="text-center mt-4 mb-4 d-flex d-flex justify-content-center">
      <p><a href="/signin" style="color: rgb(0, 119, 255)">取消</a></p>
    </div>
  </form>
</div>